/*обнуление дефолтных стилей*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*настройка шрифтов*/
@font-face {
	font-family: 'Lato';
	src: url('/Travel-page/assets/fonts/Lato-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('/Travel-page/assets/fonts/Lato-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('/Travel-page/assets/fonts/Lato-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
/*конец базовых стилей*/
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.logo-pic{
    width: 82px;
    height: 31px;
    flex-shrink: 0;
}

.header-list{
    display: flex;
    gap: 82px;
    list-style: none;
    text-align: center;
}
.header-link{
    text-decoration: none;
    color: #FFF;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    cursor: pointer;
}
.header-link:hover, .header-link:active{
    opacity: .75;
}
/*конец header*/

/*начало основной части*/
.intro{
    min-height: 100vh;
    background: url(/Travel-page/assets/img/intro.png) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}
.main-title{
    width: 619px;
    height: 121px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 22px;
}
.intro-text{
    width: 546px;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 59px;
}
.seach-form-wrap{
    display: flex;
    justify-content: space-between;
    padding-right: 174px;
    flex-wrap: wrap;
    margin-bottom: 149px;
}
.seach-form-field{
    width: 297px;
    height: 49px;
    flex-shrink: 0;
    background:transparent url(/Travel-page/assets/img/svg/Oval.svg) no-repeat left 2px;
    background-size: 20px;
    border: 0;
    border-bottom: 3px solid #BFC0C5;
    padding-left: 43px;
    padding-bottom: 25px;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    outline: none;
}
.seach-form-field::placeholder{
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.seach-button{
    width: 171px;
    height: 58px;
    flex-shrink: 0;
    background: #1B7DFF;
    color: #FFF;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0;
    cursor: pointer;
    padding: 15px 39px;
}
.seach-button:hover, .seach-button:active{
    opacity: 0.75;
}

/*конец интро части*/

.benefits-wrapper{
    position: relative;
    max-width: 1262px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
    margin-bottom: 131px;
}
.title-benefits{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #102746;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 93px 100px 89px;
    transform: translateY(-100%);
    background-color: #FFF;
}
.benefits-cards{
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
    padding: 32px 100px 111px 100px;
}
.benefit-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 317px;
    height: 288px;
    flex-shrink: 0;
    justify-content: flex-start;
}
.benefits-logo{
    width: 66px;
    height: 66px;
    flex-shrink: 0;
    margin-bottom: 37px;
}
.benefits-card-title{
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    margin-bottom: 26px;
}
.benefits-card-info{
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 39px;
}
.learn{
    color: #006DFE;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-decoration: none;
    background: url(/Travel-page/assets/img/svg/Shape.svg) no-repeat 126px center;
    padding-right: 156px;
}
.learn:hover{
    opacity: 0.75;
}
/*конец части benefits*/

.inspire_wrap{
    display: flex;
    flex-direction: column;
    max-width: 1265px;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 131px;
}
.title-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 36px;
}
.title-inspire{
    position: relative;
    color: #102746;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}
.title-inspire::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 3px;
    width: 253px;
    stroke-width: 2px;
    background: #006DFE;
}
.view-link{
    text-decoration: none;
    color: #006DFE;
    text-align: right;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: url(/Travel-page/assets/img/svg/Shape.svg) no-repeat right 22px;
    padding-right: 58px;
    padding-top: 14px;
    padding-bottom: 4px;
}
.view-link:hover{
    opacity: 0.75;
}
.image-box{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.image-wrap-full{
    grid-column: span 3;
    height: 354px;
}
.image-wrap-small{
    grid-column: span 2;
    height: 283px;
}
.pic-inspire-full{
    width: 100%;
    height: 354px;
    object-fit: cover;
}
.pic-inspire-small{
    width: 100%;
    height: 283px;
    object-fit: cover;
}
.image-wrap{
    position: relative;
}
.image-wrap::after{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.40) ;
    top: 0;
    left: 0;
    z-index: 2;
}
.image-title{
    display: block;
    position: absolute;
    color: #FFF;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    left: 0;
    bottom: 0;
    z-index: 3;
    padding-left: 29px;
    padding-bottom: 27px;
}
/*конец стилей карточек вдохновения*/

.wrapper-lg{
    display: flex;
    flex-direction: column;
    max-width: 1271px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-bottom: 139px;
    gap:77px;
    justify-content: center;
}
.box-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.pic-prefecture{
    max-width: 597px;
    width: 100%;
    height: 354px;
    object-fit: cover;
}
.title-prefecture{
    width: 357px;
    color: #102746;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 133.333% */
    padding-bottom: 45px;
    padding-top: 26px;
}
.info-prefecture{
    width: 519px;
    color: #102746;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-bottom: 94px;
}
/*конец секции префектур*/

.wrap-places{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 144px;
}
.places-title{
    position: relative;
    color: #102746;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 54px;
    padding-bottom: 10px;
}
.places-title::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 3px;
    width: 253px;
    stroke-width: 2px;
    background: #006DFE;
}
.wrap-places-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 58px 52px;
    justify-content: center;
}
.places-card{
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 567px;
    flex-shrink: 0;
}
.pic-place{
    width: 100%;
    height: 377px;
    object-fit: cover;    
    margin-bottom: 45px;
}
.info-place{
    color: #102746;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 31px;
}
.see-btn{
    width: 118px;
    height: 42px;
    flex-shrink: 0;
    background-color:#006DFE;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    cursor: pointer;
}
.see-btn:hover{
    opacity: 0.75;
}